#!/usr/bin/make -f

%:
	dh $@ --with autoreconf

override_dh_auto_install:
	#rm -f debian/libsmbios-doc/usr/share/doc/libsmbios-doc/getopt/LICENSE
	#$(RM) -vf debian/libsmbios-dev/usr/include/smbios/config/boost_LICENSE_1_0_txt
	#$(RM) -v debian/smbios-utils/usr/share/smbios-utils/cli.pyc
	#$(RM) -v debian/smbios-utils/usr/share/smbios-utils/cli.pyo
	#$(RM) -v debian/smbios-utils/usr/share/smbios-utils/cli.py
	# manpage currently disabled, see #394898
	#	cd $(CURDIR)/debian/libsmbios-bin; for f in usr/sbin/*; do \
	#	    ln -s smbios-bin.1 usr/share/man/man1/$$(basename $$f).1; \

	dh_auto_install
